<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Robot</h1>
      <p class="slogan">Robot 是一个智能机器信息网站。
        <br>
        我们希望借由这个网站让大家更多的了解智能机器。
        <br>
        人类是宇宙中发展处智能文明之一的物种
      </p>
      <p class="lead">
        <%= link_to '浩瀚星辰', products_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">会出错的代码</h2>
        <p class="lead">进化</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">屠杀的战役</h2>
        <p class="lead">机器战争  <a target="_blank" href="https://www.youtube.com/watch?v=kxrMCIdRVv4">随便链接点什么！</a>! </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">新物种<br>机器统治的时代</h2>
        <p class="lead">新纪元<a target="_blank" href="https://www.youtube.com/watch?v=y1a4jmzAvlk">宇宙新纪元</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
